<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Agregati</title>

  <style media="screen">
    .IspisStanja {
      margin-bottom: 45px;
      background-color: black;
    }

    .CijenaDerivata {
      background-color: black;
    }

    .DERIVATI {
      margin-left: 20px;
      color: white;
      display: flex;
    }

    .Benzin {
      background-color: #082032;
      margin-left: 70px;
    }

    .Disel {
      background-color: #2C394B;
      margin-left: 70px;
    }

    .Plin {
      background-color: #334756;
      margin-left: 70px;
    }

    .UNP {
      background-color: #FF4C29;
      margin-left: 70px;
    }

    .slika {
      width: 200px;
      margin-left: 27px;
      margin-right: 27px;
      margin-bottom: 50px;
    }

    .Naslov {
      font-weight: 100;
      text-decoration: none solid rgb(68, 68, 68);
      text-align: center;
    }

    body {
      background-color: #57837B;
    }

    h1 {
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: 33px;
      letter-spacing: 3.2px;
      word-spacing: 6px;
      color: #000000;
      font-weight: 400;
      text-decoration: none solid rgb(68, 68, 68);
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
    }

    .PlinButtons {
      width: 100%;
    }

    .PlinButtons form {
      display: inline;
    }

    .PlinButtons button {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      border: 2px solid black;
      margin-left: 1rem;
    }
    .zelena{
      background-color: green;
    }

    .crvena{
      background-color: red;
    }

    .narandzasta{
      background-color: orange;
    }

    .red {
      background-color: red;
    }

    .green {
      background-color: green;
    }

    .orange {
      background-color: orange;
    }

    .zauzeceVrijednost{
      width: 20px;
      height: 20px;
      margin-left: 10px;
      border: 3px solid white;
      border-radius: 50%;
    }


  </style>
</head>

<body>
  <h1>AGREGATI</h1>
  <br>
  <a style="text-decoration: none; font-size: 15px; color: black;" role="button" class="nazad" href="/djelatnik">Nazad</a>


  <div class="DERIVATI">

    <div class="Benzin">
      <h3 class="Naslov">Eurosuper 95</h3>
      <img class="slika" src="http://localhost:3000/Benzin.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= users[0].stanje %> litara </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= users[0].cijena %> kn/l</h4>
      <div class="zauzeceVrijednost <%= benzin.value %>"></div>
      <br>
      <div class="PlinButtons">
        <form action="/provjeraZaBenzinZelena" method="post">
          <button class="zelena" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaBenzinNarandzasta" method="post">
          <button class="narandzasta" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaBenzinCrvena" method="post">
          <button class="crvena" type="submit" name="button"></button>
        </form>
      </div>
    </div>

    <div class="Benzin">
      <h3 class="Naslov">Eurosuper 95 Class Plus</h3>
      <img class="slika" src="http://localhost:3000/Benzin.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= users[4].stanje %> litara </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= users[4].cijena %> kn/l</h4>
      <div class="zauzeceVrijednost <%= benzin2.value %>"></div>
      <br>
      <div class="PlinButtons">
        <form action="/provjeraZaBenzin2Zelena" method="post">
          <button class="zelena" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaBenzin2Narandzasta" method="post">
          <button class="narandzasta" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaBenzin2Crvena" method="post">
          <button class="crvena" type="submit" name="button"></button>
        </form>
      </div>
    </div>

    <div class="Disel">
      <h3 class="Naslov">Eurodisel</h3>
      <img class="slika" src="http://localhost:3000/Disel.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= users[1].stanje %> litara </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= users[1].cijena %> kn/l</h4>
      <div class="zauzeceVrijednost <%= disel.value %>"></div>
      <br>
      <div class="PlinButtons">
        <form action="/provjeraZaDiselZelena" method="post">
          <button class="zelena" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaDiselNarandzasta" method="post">
          <button class="narandzasta" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaDiselCrvena" method="post">
          <button class="crvena" type="submit" name="button"></button>
        </form>
      </div>
    </div>

    <div class="Disel">
      <h3 class="Naslov">Disel Imperium</h3>
      <img class="slika" src="http://localhost:3000/Disel.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= users[5].stanje %> litara </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= users[5].cijena %> kn/l</h4>
      <div class="zauzeceVrijednost <%= disel2.value %>"></div>
      <br>
      <div class="PlinButtons">
        <form action="/provjeraZaDisel2Zelena" method="post">
          <button class="zelena" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaDisel2Narandzasta" method="post">
          <button class="narandzasta" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaDisel2Crvena" method="post">
          <button class="crvena" type="submit" name="button"></button>
        </form>
      </div>
    </div>

    <div class="Plin">
      <h3 class="Naslov">PLIN</h3>
      <img class="slika" src="http://localhost:3000/Plin.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= users[2].stanje %> litara </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= users[2].cijena %> kn/l</h4>
      <div class="zauzeceVrijednost <%= plin.value %>"></div>
      <br>
      <div class="PlinButtons">
        <form action="/provjeraZaPlinZelena" method="post">
          <button class="zelena" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaPlinNarandzasta" method="post">
          <button class="narandzasta" type="submit" name="button"></button>
        </form>
        <form action="/provjeraZaPlinCrvena" method="post">
          <button class="crvena" type="submit" name="button"></button>
        </form>
      </div>

    </div>

    <div class="UNP">
      <h3 class="Naslov">UNP</h3>
      <img class="slika" src="http://localhost:3000/UNP.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= users[3].stanje %> boca </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= users[3].cijena %> kn/boca</h4>

    </div>

    <div class="UNP" style="height:400px">
      <h3 class="Naslov">Stanica za pumpanje guma</h3>
      <img class="slika" src="http://localhost:3000/UNP.jpg" alt="Benzin">
      <br>
      <div class="zauzeceVrijednost <%= pumpa.value %>"></div>
    </div>

  </div>
</body>

</html>
