<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Agregati</title>

  <style media="screen">

  .UnosKol{
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .UnosKolicine{

    background-color: black;
  }

  button{
    margin-right: 10px;
  }

  .DerCijena{
    background-color: black;
  }
 .DERIVATI_DVA{
   margin-left: 20px;
   color:white;
   display: flex;
 }
  .DERIVATI{
    margin-left: 20px;
    color:white;
    display: flex;
  }

  .Benzin{
    background-color: #082032;
    margin-left: 70px;
  }

  .Disel{
    background-color: #A09F57;
    margin-left: 70px;
  }
  .Plin{
    background-color: #334756;
    margin-left: 70px;
  }
  .UNP{
    background-color: #FF4C29;
    margin-left: 70px;
  }
  .slika{
    width: 200px;
    margin-left: 27px;
  }

  .Naslov{
    text-align: center;
  }
  body{
    background-color: #57837B;
  }
  h1{
    text-align: center;
  }

  .zauzece form{
    display: inline;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .orange {
    background-color: orange;
  }

  .zauzeceVrijednost{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 3px solid white;
    border-radius: 50%;
  }

  </style>

  <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
animationEnabled: true,
exportEnabled: true,
theme: "light1", // "light1", "light2", "dark1", "dark2"
title:{
text: "Zauzeæe agregata"
},
  axisY: {
      includeZero: true
    },
data: [{
type: "column", //change type to bar, line, area, pie, etc
//indexLabel: "{y}", //Shows y value on all Data Points
indexLabelFontColor: "#5A5757",
      indexLabelFontSize: 16,
indexLabelPlacement: "outside",
dataPoints: [
{ x: 20, y: <%= userWithStanjeAndCijena[0].stanje / 10000 * 100 %>, indexLabel: "\u2691 EuroSuper95" },
{ x: 40, y: <%= userWithStanjeAndCijena[4].stanje / 10000 * 100 %>, indexLabel: "\u2691 EuroSuper95 ClassPlus" },
{ x: 60, y: <%= userWithStanjeAndCijena[1].stanje / 10000 * 100 %>, indexLabel: "\u2691 Eurodisel" },
{ x: 80, y: <%= userWithStanjeAndCijena[5].stanje / 10000 * 100 %>, indexLabel: "\u2691 Disel Imperium" },
{ x: 100, y: <%= userWithStanjeAndCijena[2].stanje / 10000 * 100 %>, indexLabel: "\u2691 Plin" },
{ x: 120, y: <%= userWithStanjeAndCijena[3].stanje / 500 * 100 %>, indexLabel: "\u2691 UNP" },
]
}]
});
chart.render();

}
</script>

</head>

<body>

  <h1>AGREGATI</h1>
  <a role="button" class="nazad" href="/admin">Nazad</a>
  <div class="DERIVATI">

<form action="/benzin" method="post">
  <div class="Benzin">
    <h3 class="Naslov">EuroSuper95</h3>
    <img class="slika" src="Benzin.jpg" alt="Benzin">
    <h4 class="IspisStanja"> Stanje: <%= userWithStanjeAndCijena[0].stanje %> litara </h4>
    <h4 class="CijenaDerivata"> Cijena: <%= userWithStanjeAndCijena[0].cijena %> kn/l</h4>
    <h4 class="UnosKolicine">Unesite kolicinu:</h4>
    <input class="UnosKol" type="text" name="stanje" value="">
    <h4 class="DerCijena">Promijeni cijenu derivata:</h4>
    <input class="UnosKol" type="text" name="cijena" value="">
    <button type="submit" name="button">Potvrdi</button>
    <br>
    <div class="zauzeceVrijednost <%= benzin.value %>"></div>
  </div>
</form>

<!-- OVO SU TIPKE ZELENA I CRVENA ZA EUROSUPER95 -->
<div class="zauzece">
  <form action="/adminBenzinZelena" method="post">
    <button type="submit" name="button">Zelena</button>
  </form>
  <form action="/adminBenzinCrvena" method="post">
    <button type="submit" name="button">Crvena</button>
  </form>
</div>

<form action="/benzin2" method="post">
  <div class="Benzin">
    <h3 class="Naslov">EuroSuper95 class plus</h3>
    <img class="slika" src="Benzin.jpg" alt="Benzin">
    <h4 class="IspisStanja"> Stanje: <%= userWithStanjeAndCijena[4].stanje %> litara </h4>
    <h4 class="CijenaDerivata"> Cijena: <%= userWithStanjeAndCijena[4].cijena %> kn/l</h4>
    <h4 class="UnosKolicine">Unesite kolicinu:</h4>
    <input class="UnosKol" type="text" name="stanje" value="">
    <h4 class="DerCijena">Promijeni cijenu derivata:</h4>
    <input class="UnosKol" type="text" name="cijena" value="">
    <button type="submit" name="button">Potvrdi</button>
    <br>
    <div class="zauzeceVrijednost <%= benzin2.value %>"></div>
  </div>
</form>
<!-- OVO SU TIPKE ZELENA I CRVENA ZA EUROSUPER95 CLASS PLUS -->
<div class="zauzece">
  <form action="/adminBenzin2Zelena" method="post">
    <button type="submit" name="button">Zelena</button>
  </form>
  <form action="/adminBenzin2Crvena" method="post">
    <button type="submit" name="button">Crvena</button>
  </form>
</div>

<form action="/dizel" method="post">
  <div class="Disel">
    <h3 class="Naslov">Eurodisel</h3>
    <img class="slika" src="Disel.jpg" alt="Benzin">
    <h4 class="IspisStanja"> Stanje: <%= userWithStanjeAndCijena[1].stanje %> litara </h4>
    <h4 class="CijenaDerivata"> Cijena: <%= userWithStanjeAndCijena[1].cijena %> kn/l</h4>
    <h4 class="UnosKolicine">Unesite kolicinu:</h4>
    <input class="UnosKol" type="text" name="stanje" value="">
    <h4 class="DerCijena">Promijeni cijenu derivata:</h4>
    <input class="UnosKol" type="text" name="cijena" value="">
    <button type="submit" name="button">Potvrdi</button>
    <br>
    <div class="zauzeceVrijednost <%= disel.value %>"></div>
  </div>
</form>
<!-- OVO SU TIPKE ZELENA I CRVENA ZA EURODISEL -->
<div class="zauzece">
  <form action="/adminDiselZelena" method="post">
    <button type="submit" name="button">Zelena</button>
  </form>
  <form action="/adminDiselCrvena" method="post">
    <button type="submit" name="button">Crvena</button>
  </form>
</div>

<form action="/dizel2" method="post">
  <div class="Disel">
    <h3 class="Naslov">Disel Imperium</h3>
    <img class="slika" src="Disel.jpg" alt="Benzin">
    <h4 class="IspisStanja"> Stanje: <%= userWithStanjeAndCijena[5].stanje %> litara </h4>
    <h4 class="CijenaDerivata"> Cijena: <%= userWithStanjeAndCijena[5].cijena %> kn/l</h4>
    <h4 class="UnosKolicine">Unesite kolicinu:</h4>
    <input class="UnosKol" type="text" name="stanje" value="">
    <h4 class="DerCijena">Promijeni cijenu derivata:</h4>
    <input class="UnosKol" type="text" name="cijena" value="">
    <button type="submit" name="button">Potvrdi</button>
    <br>
    <div class="zauzeceVrijednost <%= disel2.value %>"></div>
  </div>
</form>
<!-- OVO SU TIPKE ZELENA I CRVENA ZA DISEL IMPERIUM-->
<div class="zauzece">
  <form action="/adminDisel2Zelena" method="post">
    <button type="submit" name="button">Zelena</button>
  </form>
  <form action="/adminDisel2Crvena" method="post">
    <button type="submit" name="button">Crvena</button>
  </form>
</div>


  <form class="" action="/plin" method="post">
    <div class="Plin">
      <h3 class="Naslov">Plin</h3>
      <img class="slika" src="Plin.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= userWithStanjeAndCijena[2].stanje %> litara </h4>
      <h4 class="CijenaDerivata"> Cijena: <%= userWithStanjeAndCijena[2].cijena %> kn/l</h4>
      <h4 class="UnosKolicine">Unesite kolicinu:</h4>
      <input class="UnosKol" type="text" name="stanje" value="">
      <h4 class="DerCijena">Promijeni cijenu derivata:</h4>
      <input class="UnosKol" type="text" name="cijena" value="">
      <button type="submit" name="button">Potvrdi</button>
      <br>
      <div class="zauzeceVrijednost <%= plin.value %>"></div>

    </div>
  </form>
  <!-- OVO SU TIPKE ZELENA I CRVENA ZA PLIN -->
  <div class="zauzece">
    <form action="/adminPlinZelena" method="post">
      <button type="submit" name="button">Zelena</button>
    </form>
    <form action="/adminPlinCrvena" method="post">
      <button type="submit" name="button">Crvena</button>
    </form>
  </div>

  <form action="/unp" method="post">
    <div class="UNP">
      <h3 class="Naslov">UNP</h3>
      <img class="slika" src="UNP.jpg" alt="Benzin">
      <h4 class="IspisStanja"> Stanje: <%= userWithStanjeAndCijena[3].stanje %> boca </h4>
      <h4 class="CijenaDerivata"> Cijena: <%=userWithStanjeAndCijena[3].cijena %> kn/boca</h4>
      <h4 class="UnosKolicine">Unesite kolicinu:</h4>
      <input class="UnosKol" type="text" name="stanje" value="">
      <h4 class="DerCijena">Promijeni cijenu derivata:</h4>
      <input class="UnosKol" type="text" name="cijena" value="">
      <button type="submit" name="button">Potvrdi</button>
    </div>
  </form>

    <div class="UNP" style="height:400px">
      <h3 class="Naslov">Stanica za pumpanje guma</h3>
      <img class="slika" src="UNP.jpg" alt="Benzin">
      <br>
      <div class="zauzeceVrijednost <%= pumpa.value %>"></div>
    </div>
    <!-- OVO SU TIPKE ZELENA I CRVENA ZA PUMPU -->
    <div class="zauzece">
      <form action="/adminPumpaZelena" method="post">
        <button type="submit" name="button">Zelena</button>
      </form>
      <form action="/adminPumpaCrvena" method="post">
        <button type="submit" name="button">Crvena</button>
      </form>
    </div>




  </div>

  <div id="chartContainer" style="height: 300px; width: 100%; margin-top: 2rem;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>

</html>
